@model portal.Models.IconNav

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>IconNav</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.nameHint)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.nameHint)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.nameNav)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.nameNav)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.urlNav)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.urlNav)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.id_IconNav">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
