@model IEnumerable<portal.Models.Navigation>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.nav_Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.nav_Url)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.nav_Location)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.isActive)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.isGroup)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Language)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.nav_Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.nav_Url)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.nav_Location)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.isActive)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.isGroup)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Language.Lang_Id)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Nav_Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Nav_Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Nav_Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
